// Primary
$dark-gray: #95A9C6;
$medium-violet: #2D2640;
// Neutral
$dark-violet: #2B272F;
$light-violet: #837D87;
$light-gray:#FAFAFA;

$heading-color-white:$light-gray;
$heading-color-medium:$medium-violet;
$heading-color-dark:$dark-violet;

$text-color-white:$light-gray;
$text-color-violet:$medium-violet;
$text-color-dark-violet: $dark-violet;

$background-color-dark:$dark-violet;
$background-color-medium:$medium-violet;
$background-color-light:$light-gray;

$button-color-white:$light-gray;
$button-color-medium:$medium-violet;
$button-color-dark:$dark-violet;

$button-color-white--hover:$light-gray;
$button-color-medium--hover:$medium-violet;
$button-color-dark--hover:$dark-violet;