$medium-white: #f7f7f7;
$white: #ffffff;
// accent colors
$orange: #f7b74f;
$lightblue: #87c5ec;
$darkblue: #4a79bc;


$lightpurple: #934bff;
$darkpurple:#5f3afc;

$button-purple:#663cfc;
// basic colors

$black: #272727;
$medium-gray: #323232;
$light-gray: #575756;
