* {
  box-sizing: border-box;
}
body {
  background: $white;
  margin: 0;
  padding: 0;
  color: $text-color-dark;
}

body,
html {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}
a {
  display: block;
  text-decoration: none;
}

.logo {
  background-image: url(../assets/images/logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 100px;
}

.btn-cta {
  padding: 0.5rem 2rem;
  border-width: 2px;
  border-style: solid;
  text-transform:uppercase;
  transition: .2s ease;
}

.btn-cta-violet {
  border-color: $border-color-medium;
  color: $text-color-medium;
  &:hover {
    background-color: $button-color-medium--hover;
    color: $text-color-white;
    text-decoration: none;
  }
}

.btn-cta-white {
  border-color: $border-color-white;
  color: $text-color-white;
  background-color: $background-color-medium;
  &:hover {
    background-color: $button-color-white--hover;
    color: $text-color-dark;
    text-decoration: none;
  }
}

hr {
  height: 1px;
  width: 150px;
  background-color: $background-color-light;
  margin-left: 0;
  margin-bottom: 3rem;
  @media screen and (max-width:992px) {
    margin-left: auto;
    margin-bottom: 1rem;
  } 
}

h1,
h2,
h3,
h4 {
  font-family: 'DM Serif Display', serif;
}