footer.footer 
	.container 
		.footer-top 
			a.logo(href="/")
			ul 
				li
					a.icon.icon-facebook(href="/") 
				li
					a.icon.icon-twitter(href="/") 
				li
					a.icon.icon-pinterest(href="/") 
				li
					a.icon.icon-instagram(href="/")
		.footer-bottom
			.row 
				.col-sm-12.col-lg-3 
					p Our Company 
					ul 
						li 
							a(href="/") How we work 
						li 
							a(href="/") Why insure? 
						li 
							a(href="/") View plans 
						li 
							a(href="/") Reviews
				.col-sm-12.col-lg-3 
					p Help me 
					ul 
						li 
							a(href="/") FAQ 
						li 
							a(href="/") Terms of use 
						li 
							a(href="/") Privacy policy 
						li 
							a(href="/") Cookies 
				.col-sm-12.col-lg-3 
					p Contract 
					ul 
						li 
							a(href="/") Sales
						li 
							a(href="/") Support 
						li 
							a(href="/") Live chat 
				.col-sm-12.col-lg-3 
					p Others 
					ul 
						li 
							a(href="/") Careers
						li 
							a(href="/") Press 
						li 
							a(href="/") Licenses   