footer#footer.footer--section
  .container.body--border
    .row.body--lines
      .col-sm-4
      .col-sm-4.body--border
      .col-sm-4
    .row.footer--section-top
      .mongo--logo.mongo--logo-footer.col-sm-12.col-md-12.col-lg-2.col-xl-4
        //- img(src='./assets/images/mong-logo-icon.png' alt='mong-studio')
        span.logo--text STUDIO
      .footer--section-info.col-sm-12.col-md-12.col-lg-10.col-xl-8
        .row
          p
            span.gold--block
              i.fas.fa-map-marker-alt
            | 11000, BELGRADE, SERBIA
          p
            span.gold--block
              i.far.fa-envelope
            | office@mong.rs
          p
            span.gold--block
              i.fas.fa-phone
            | +381.62.582.652
    .row.footer--section-bottom
      .socialmedia--section
        a(href='#')
          i.fab.fa-facebook-square
        a(href='#')
          i.fab.fa-linkedin
        a(href='#')
          i.fab.fa-instagram
      p.copyright
        | Copyrights @ MONG Studio 
        script.
          document.write(new Date().getFullYear())
        | All rights reserved
