section.hero
  .mong--hero
    .container
      h1 Increase your sales with top quality graphics
      p Hire us to boost your company to the next level!
      button.btn.btn--cta-gold-border(data-toggle='modal' data-target='#contactModal') Submit Inquiry
