section.hero
  .mong--hero
    .container
      h1 Hero content
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla necessitatibus, perferendis, eveniet, similique doloremque quo in exercitationem tenetur iste optio officia? Quo ex rem minus sit hic excepturi ab illo.
      button.btn.btn--cta-gold-border(data-toggle='modal' data-target='#contactModal') Submit Inquiry
