.navigation
    .container
        nav.navbar.navbar-expand-lg.navbar-light
            a.navbar-brand.logo(href='#')
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarText.collapse.navbar-collapse
                ul.navbar-nav.ml-auto.mr-0.align-items-center
                    li.nav-item
                        a.nav-link(href='#')
                            | How we work 
                        span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Blog
                    li.nav-item
                        a.nav-link(href='#') Account
                    li.nav-item
                        a.btn-cta.btn-cta-violet(href='#') View plans
