section#navigation.nav--section-wrap
  .container.p-0
    nav.navbar.navbar-expand-lg.p-0.m-0.navbar-dark
      .dropdown.navbar-brand.col-sm-3.p-0.m-0
        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          //- img(src='./assets/images/mong-logo-icon.png' alt='mong-studio')
          span.dropdown-item-text STUDIO
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#')
            //- img(src='./assets/images/mong-logo-icon.png' alt='mong-studio')
            span.dropdown-item-text Mong.rs
          hr
          a.dropdown-item(href='#')
            //- img(src='./assets/images/mong-logo-icon.png' alt='mong-studio')
            span.dropdown-item-text Mong events
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.col.nav--section-list
        ul.navbar-nav.col.navbar-center
          li.nav-item.active.selected
            a.nav-link(href='#home')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#services')
              | Services
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#portfolio')
              | Portfolio
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#about')
              | About us
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#contact')
              | Contact
              span.sr-only (current)
        .socials--icons
          ul.navbar-nav
            li
              a.nav-link(href='#')
                i.fab.fa-facebook-square
            li
              a.nav-link(href='#')
                i.fab.fa-linkedin
            li
              a.nav-link(href='#')
                i.fab.fa-instagram

