doctype html
html(lang="en")
  head
    title MONG Studio 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- link(rel="icon" href="./assets/images/mong-logo-icon.png")
  body    
    header.nav--hero#home 
      include ./templates/navigation.pug
      include ./templates/hero.pug
    main

    include ./templates/footer.pug
    button.scroll-top
      i.fas.fa-arrow-up




