doctype html
html(lang="en")
  head
    title Insure
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- link(rel="icon" href="./assets/images/mong-logo-icon.png")
  body
    include ./templates/navigation.pug

    header.nav--hero#home 
      include ./templates/hero.pug
    main
      include ./templates/about.pug
      include ./templates/how-we-work.pug

    include ./templates/footer.pug



