.footer {
  background-image: url(../assets/images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: $background-color-white;
  @media screen and (max-width:992px) {
    background-image: url(../assets/images/bg-pattern-footer-mobile.svg);
    background-size: contain;
  }
  .footer-top {
    display: flex;
    justify-content: space-between;
    padding-top:3.5rem;
    padding-bottom:2rem;
    align-items: center;
    border-bottom: 1px solid rgba($dark-gray,0.2);
    @media screen and (max-width:992px) {
      flex-direction: column;
    }
    ul {
      display: flex;
      @media screen and (max-width:992px) {
        margin-top: 1.5rem;
      }
      li {
        .icon {
          background-size: cover;
          background-position: center;
          height: 25px;
          width: 25px;
          margin: 0 1rem;
          &:last-of-type {
            margin-right: 0px;
          }
          &:hover {
            filter: brightness(0.5);
          }
        }
        .icon-facebook {
          background-image: url(../assets/images/icon-facebook.svg);
        }
        .icon-twitter {
          background-image: url(../assets/images/icon-twitter.svg);
        }
        .icon-pinterest {
          background-image: url(../assets/images/icon-pinterest.svg);
        }
        .icon-instagram {
          background-image: url(../assets/images/icon-instagram.svg);
        }
      }
    }
  }
  .footer-bottom {
    margin-top:2.5rem;
    margin-bottom:3rem;
    @media screen and (max-width:992px) {
      text-align: center;
    }
    p {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      color: $text-color-light;
      @media screen and (max-width:992px) {
        margin-top: 1.5rem;
      }
    }
    p,a {
      font-size: 14px;
      font-weight:700;
    }
    ul {
      li {
        a {
          text-transform: uppercase;
          margin-bottom: .8rem;
          color: $text-color-dark;
        }
      }
    }
  }
}
