.hero {
  background-color: $background-color-medium;
  padding-top: 6em;
  padding-bottom: 8em;
  @media screen and (max-width:992px) {
    padding-top: 0;
    padding-bottom: 6em;
  }
  &::before,&::after {
    content:'';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
  }
  &::before {
    left: 0;
    top: 65%;
    height: 75%;
    background-image: url(../assets/images/bg-pattern-intro-left-desktop.svg);
    @media screen and (max-width:992px){
      background-image: url(../assets/images/bg-pattern-intro-left-mobile.svg);
      display: none;
    }
  }
  &::after {
    top: 0px;
    right: 0px;
    height: 90%;
    background-image: url(../assets/images/bg-pattern-intro-right-desktop.svg);
    @media screen and (max-width:992px){
      display: none;
      background-image: url(../assets/images/bg-pattern-intro-right-mobile.svg);
    }
  }
  .container {
    position: relative;
    @media screen and (max-width:992px) {
      text-align: center;
      max-width: 100%;
      padding: 0;
    }
    &::before {
      content: "";
      display: block;
      background-color: transparent;
      position: absolute;
      max-width: 49%;
      width: 100%;
      height: 660px;
      top: 0;
      right: 0;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../assets/images/image-intro-desktop.jpg);
      @media screen and (max-width:992px) {
        position: relative;
        max-width: 100%;
        height: 450px;
      }
      @media screen and (max-width:375px) {
        background-image: url(../assets/images/image-intro-mobile.jpg);
      }
    }
    .row {
      @media screen and (max-width:992px) {
        padding: 0px 15px;
      }
    }
    hr {
      @media screen and (max-width:992px) {
        display: none;
      }
    }
    h1,
    h2 {
      font-family: 'DM Serif Display', serif;
      user-select: none;
    }
    
    h1 {
      font-size: 4.445rem;
      margin: 4rem auto .1em;
      color: $heading-color-white;
      line-height: 70px;
      @media screen and (max-width:992px) {
        font-size: 3.7rem;
      }
    }
    p {
      color: white;
      user-select: none;
      font-weight: 400;
      margin-top: 1.5rem;
    }
    .btn-cta {
      margin-top: 1.5rem;
    }
  }
}