.nav--hero {
  .nav--section-wrap {
    border-bottom: 1px solid $lightpurple;
    transition:all .2s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    &.nav--section-sticky {
      background-color: $black;
    }
    .navbar {
      .navbar-brand {
        button {
          background: transparent;
          border: none;
          border-radius: 0px;
          padding: 1.4em 1.8em 1.4em 1.5em;
          position: relative;
          &:active,
          &:focus,
          &:focus-visible,
          &:visited {
            box-shadow: none;
          }
          &::after {
            display: none;
          }
          position: relative;
          &::before {
            content: '';
            display: block;
            height: 4px;
            background-color: $lightpurple;
            width:100%;
            position: absolute;
            right: 0;
            bottom: -2px;
            visibility: hidden;
          }
          &.active {
            &::before {
              visibility: visible;
            }
          }
          img {
            height: 48px;
            width: 43px;
          }
          .dropdown-item-text {
            color: $white;
            display: inline-block;
            padding: 0;
            font-size: 1.1em;
            font-weight: bold;
            letter-spacing: 7px;
            margin-left: 7px;
            transform: translateY(4px);
          }
        }
        .dropdown-menu {
          border-radius: 0;
          background-color: $lightpurple;
          margin-top: 0;
          padding: 0;
          hr {
            border-color: white;
            width: 85%;
            margin: 0 auto;
          }
          .dropdown-item {
            display: flex;
            padding: 1.2em 1.5em;
            align-items: center;
            justify-content: center;
            &:active,
            &:focus,
            &:focus-visible,
            &:visited {
              background: $lightpurple;
            }
            &:hover {
              background: $lightpurple;
              span {
                color: $black;
              }
            }
            img {
              height: 30px;
            }
            .dropdown-item-text {
              color: white;
              text-transform: uppercase;
              font-size: 0.8em;
              font-weight: bold;
              padding: 0;
              margin-left: 8px;
              letter-spacing: 2px;
              white-space: initial;
              width: 50%;
            }
          }
        }
      }
      .navbar-center  {
        li {
          position: relative;
          width: 120px;
          &::after {
            content: '';
            display: block;
            height: 4px;
            background-color: $lightpurple;
            width:100%;
            position: absolute;
            right: 0;
            bottom: -16px;
            visibility: hidden;
          }
          &.active,&.selected {
            &::after {
              visibility: visible;
            }
          }
        }
      }
      .nav--section-list {
        ul {
          li {
            a {
              color: $white;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 14px;
              padding: 22px 17px;
              letter-spacing: 2px;
              text-align:center;
            }
            &.active > a {
              color: $lightpurple;
            }
          }
        }
      }
    }
  }
}
